.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  max-width: 100%;
  background-image: url('../../public/world-map.png');

  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}

.container-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  max-width: 100%;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #0f2029;
  padding-bottom: 0.5vh;
  height: 24vh;
}

.title-homepage {
  font-size: 4rem;
  font-weight: bold;
  color: #0f2029;
  padding-bottom: 0.5vh;
  height: 14vh;
}

.language-selection,
.level-selection {
  display: flex;
  gap: 15px;
  margin-bottom: 3vh;
}

.language-button,
.level-button {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 9vw;
  height: 6vw;
  color: #0f2029;
}

.language-button:hover,
.level-button:hover {
  background-color: #a3c7e030;
}

.language-button.selected,
.level-button.selected {
  background-color: #a3c7e091;
  border-color: #999;
}

.button-text {
  margin-top: 5px;
  font-size: 1.1rem;
}

.go-button {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 6vw;
  transition: background-color 0.3s ease;
}

.go-button.enabled {
  background-color: #4d8c9d;
  color: #fff;
}

.go-button.enabled:hover {
  background-color: #2c5e6d;
}

.go-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.footer-text {
  font-size: 2rm;
  color: #2c5e6d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12vh;
}

.login-card {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
} 

.input-style {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.login-button.enabled {
  background-color: #4d8c9d;
  color: #fff;
}

.login-button.enabled:hover {
  background-color: #2c5e6d;
}

.login-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.login-card-headline {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0f2029;
  padding-bottom: 0.1vh;
}